{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "jsx-filename-extension": "off",
    "prefer-default-export": "off"
  }
}